<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-between container"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav left">
      <li
        class="nav-item"
        [ngClass]="currentPage === 'recipes' ? 'nav-item active' : 'nav-item'"
      >
        <a (click)="selectPage('recipes')" class="nav-link" href="#">Recipes</a>
      </li>
      <li
        class="nav-item"
        [ngClass]="currentPage === 'list' ? 'nav-item active' : 'nav-item'"
      >
        <a (click)="selectPage('list')" class="nav-link" href="#"
          >Shoping List
        </a>
      </li>
    </ul>
    <ul class="navbar-nav right">
      <li class="nav-item dropdown right">
        <a
          class="nav-link dropdown-toggle"
          (click)="status = !status"
          [ngClass]="status ? 'show' : ''"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown link
        </a>
        <div
          class="dropdown-menu"
          [ngClass]="status ? 'show' : ''"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
