<div class="row">
  <div class="col-sm-12">
    <img
      [src]="selectedRecipe.imagePath"
      alt=""
      class="img-resposive"
      style="width: 100%; max-height: 450px"
    />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{ selectedRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
    </div>
  </div>
  <ul class="dropdown-menu">
    <li>
      <a href="#">Add to Shoping List</a>
    </li>
    <li>
      <a href="#">Edit Recipe</a>
    </li>
    <li>
      <a href="#">Delete Recipe</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-12">{{ selectedRecipe.description }}</div>
</div>
<div class="row">
  <div class="col-sm-12">Ingridients</div>
</div>
